  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Localisation</span>

                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Ile</span>
            </div>

            <div class="title">Ile</div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
            <!-- LISTE TABLE -->
    <div class="content"layout="column">
      <div class="form-wrapper">
      <div style="widht:100%;">    
          <md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
              Nouveau
          </md-button>
          <md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
              Modifier
          </md-button>
          <md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
              Supprimer
          </md-button>
        </div>  
        <div style="clear:both;"></div>
                    <!-- BASIC FORM -->
        <md-tabs md-dynamic-height ng-show="vm.affichageMasque==1">
          <md-tab label="Ajout Ile">
            <md-tab-body>
              <form name="ileform" class="md-inline-form" novalidate>
                <div layout="column" layout-gt-xs="row" flex>
                  <input type="hidden" ng-model="vm.ile.id"></input>
                    <md-input-container flex="100" flex-gt-xs="33">
                      <input type="text" name="Code" ng-model="vm.ile.Code"
                        placeholder="Code" ng-init="vm.ile.Code=''"
                        required>
                        <div ng-messages="ileform.Code.$error"
                          role="alert">
                          <div ng-message="required">
                            <span>Code obligatoire.</span>
                          </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="100" flex-gt-xs="33">
                      <input type="text" name="Ile" ng-model="vm.ile.Ile"
                        placeholder="Ile " ng-init="vm.ile.Ile=''"
                        required>
                        <div ng-messages="ileform.Ile.$error"
                          role="alert">
                          <div ng-message="required">
                            <span>Nom obligatoire.</span>
                          </div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="100" flex-gt-xs="33">
                      <label>Programme</label>
                        <md-select name="programme_id" ng-model="vm.ile.programme_id" required>
                          <md-option ng-repeat="programme in vm.allprogramme" value="{{programme.id}}">
                                {{programme.libelle}}
                          </md-option>
                        </md-select>
                        <div ng-messages="ileform.programme_id.$error"
                                        role="alert">
                          <div ng-message="required">
                              <span>Programme obligatoire.</span>
                          </div>
                        </div>
                    </md-input-container>

                </div>
                <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                      ng-disabled="ileform.$invalid" ng-click="vm.ajout(vm.ile,0)">
                      Enregistrer
                </md-button>
                <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
                  Annuler
                </md-button>
              </form>
            </md-tab-body>
       
          </md-tab>
        </md-tabs>
         <!-- / BASIC FORM -->
        <md-tabs md-dynamic-height>

          <md-tab label="Liste">
            <table class="dataTable row-border hover" datatable="ng"
              dt-options="vm.dtOptions">
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="re in ::vm.ile_column">
                    <div class="table-header">
                      <span class="column-title">{{re.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="ile in vm.allile"  ng-class="{selected: ile.$selected}" ng-click="vm.selection(ile)">
                  <td>{{ile.Code}}</td>
                  <td>{{ile.Ile}}</td>
                  <td>{{ile.programme.libelle}}</td>
                </tr>
              </tbody>
            </table>
          </md-tab>
        </md-tabs>
            <!-- / LISTE TABLE -->


      </div>
    </div>
    <!-- / CONTENT -->
  </div>
