<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                <span class="parent"> </span>
                <span class="parent" href="javascript:;"> > Commune</span>
            </div>

            <div class="title">Commune</div>
        </div>
    </div>
    <div class="content"layout="column">
		<div class="form-wrapper">
			<div style="widht:100%;">    
				<md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
					Nouveau
				</md-button>
				<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
					Modifier
				</md-button>
				<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
					Supprimer
				</md-button>
			</div>  
			<div style="clear:both;"></div>
			<md-tabs md-dynamic-height ng-show="vm.affichageMasque==1">
				<md-tab label="Ajout Commune">
					<div class="simple-table-container md-whiteframe-4dp">
					<md-tab-body>
						<form name="communeform" class="md-inline-form"  novalidate>
							<div layout="column" layout-gt-xs="row" flex>
								<input type="hidden" ng-model="vm.commune.id"></input>
								<md-input-container flex="100" flex-gt-xs="33">
									<input type="text" name="Code" ng-model="vm.commune.Code"
										placeholder="Code" ng-init="vm.commune.Code=''"
									required>
									<div ng-messages="communeform.Code.$error"
										role="alert">
										<div ng-message="required">
											<span>Code obligatoire.</span>
										</div>
									</div>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<input type="text" name="Commune" ng-model="vm.commune.Commune"
									placeholder="Commune " ng-init="vm.commune.Commune=''"
									required>
									<div ng-messages="communeform.Commune.$error"
										role="alert">
										<div ng-message="required">
											<span>Commune obligatoire.</span>
										</div>
									</div>
								</md-input-container>
								<!--md-input-container flex="100" flex-gt-xs="33">
									<label>Préfecture</label>
									<md-select name="prefecture_id" ng-model="vm.commune.prefecture_id" ng-init="vm.commune.prefecture_id=''" ng-change="vm.modifierprefecture(vm.commune)">
										<md-option ng-repeat="prefecture in vm.allprefecture" value="{{prefecture.id}}">
											{{prefecture.Code}}
										</md-option>
									</md-select>
									<div ng-messages="communeform.prefecture_id.$error" role="alert">
										<div ng-message="required">
											<span>Préfecture obligatoire.</span>
										</div>
									</div>
								</md-input-container-->
								<md-input-container flex="100" flex-gt-xs="33">
									<label>Préfecture</label>
									<md-select name="prefecture_id" ng-model="vm.commune.prefecture_id" ng-init="vm.commune.prefecture_id=''" ng-change="vm.modifierprefecture(vm.commune)" required>
										<md-option ng-repeat="prefecture in vm.allprefecture" value='{{prefecture.id}}'>
										 {{prefecture.Code}}
										</md-option>
									</md-select>
									<div ng-messages="communeform.prefecture_id.$error" role="alert">
										<div ng-message="required">
											<span>Préfecture obligatoire.</span>
										</div>
									</div>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<label>Programme</label>
									<md-select ng-model="vm.commune.programme_id" ng-init="vm.commune.programme_id=''" disabled>
										<md-option ng-repeat="programme in vm.allprogramme" value="{{programme.id}}">
											{{programme.libelle}}
										</md-option>
									</md-select>
								</md-input-container>
							</div>
							<md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
								ng-disabled="communeform.$invalid " ng-click="vm.ajout(vm.commune,0)">
								Enregistrer
							</md-button>
							<md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
								Annuler
							</md-button>
						</form>
					</md-tab-body>
					</div>
				<!-- / BASIC FORM -->
				</md-tab>
			</md-tabs>
			<div style="clear:both;"></div>
			<md-tabs md-dynamic-height>
				<md-tab label="Liste Communes">
					<table class="dataTable row-border hover" datatable="ng"
						dt-options="vm.dtOptions">
						<thead>
							<tr>
								<th class="secondary-text" ng-repeat="co in ::vm.commune_column">
									<div class="table-header">
										<span class="column-title">{{co.titre}}</span>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="commune in vm.allcommune"  ng-class="{selected: commune.$selected}" ng-click="vm.selection(commune)">
								<td>{{commune.Code}}</td>
								<td>{{commune.Commune}}</td>
								<td>{{commune.prefecture.Code}}</td>
								<td>{{commune.programme.libelle}}</td>
							</tr>
						</tbody>
					</table>
				</md-tab>
			</md-tabs>
		</div>
    </div>
</div>
