<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                <span class="parent"> </span>
                <span class="parent" href="javascript:;"> > Préfecture</span>
            </div>

            <div class="title">Préfecture</div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <!-- LISTE TABLE -->
    <div class="content"layout="column">
      <div class="form-wrapper">
          <md-tabs md-dynamic-height ng-show="vm.affichageMasque==1">
              <md-tab label="{{vm.titrepage}}">
                <div class="simple-table-container md-whiteframe-4dp">
                  <md-tab-body>
                    <form name="prefectureform" class="md-inline-form"  novalidate>
                      <div layout="column" layout-gt-xs="row" flex>
                        <input type="hidden" ng-model="vm.prefecture.id"></input>
                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="Code" ng-model="vm.prefecture.Code"
                              placeholder="Code" ng-init="vm.prefecture.Code=''"
                              required>
                              <div ng-messages="prefectureform.Code.$error"
                                role="alert">
                                <div ng-message="required">
                                  <span>Code obligatoire.</span>
                                </div>
                              </div>
                        </md-input-container>
                        <md-input-container flex="100" flex-gt-xs="33">
                          <input type="text" name="Region" ng-model="vm.prefecture.Region"
                              placeholder="Prefecture " ng-init="vm.prefecture.Region=''"
                              required>
                              <div ng-messages="prefectureform.Region.$error"
                                role="alert">
                                <div ng-message="required">
                                  <span>Prefecture obligatoire.</span>
                                </div>
                              </div>
                        </md-input-container>
                        <md-input-container flex="100" flex-gt-xs="33">
                          <label>Ile</label>
                            <md-select name="ile_id" ng-model="vm.prefecture.ile_id" ng-change="vm.modifierile(vm.prefecture)" required>
                              <md-option ng-repeat="il in vm.allile" value="{{il.id}}">
                                {{il.Ile}}
                              </md-option>
                            </md-select>
                            <div ng-messages="prefectureform.ile_id.$error"
                                role="alert">
                                <div ng-message="required">
                                  <span>Ile obligatoire.</span>
                                </div>
                              </div>
                        </md-input-container>
                        <md-input-container flex="100" flex-gt-xs="33">
                          <label>Programme</label>
                            <md-select ng-model="vm.prefecture.programme_id" disabled>
                              <md-option ng-repeat="programme in vm.allprogramme" value="{{programme.id}}">
                                {{programme.libelle}}
                              </md-option>
                            </md-select>
                        </md-input-container>
                      </div>
                      <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                          ng-disabled="prefectureform.$invalid " ng-click="vm.ajout(vm.prefecture,0)">
                          Enregistrer
                      </md-button>
                      <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
                        Annuler
                      </md-button>
                    </form>
                  </md-tab-body>
                </div>
              </md-tab>
            </md-tabs>
      <div style="widht:100%;">    
          <md-button type="submit" ng-if="vm.serveur_central" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
              Nouveau
          </md-button>
          <md-button type="submit" ng-if="vm.serveur_central" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
              Modifier
          </md-button>
          <md-button type="submit" ng-if="vm.serveur_central" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
              Supprimer
          </md-button>
			<md-button class="md-fab md-mini " aria-label="Use Android" ng-if="!vm.serveur_central" ng-click="vm.download_ddb('region/index','see_region')">
			  <md-icon md-svg-src="assets/icons/svg/down.svg" style="color: greenyellow;"></md-icon>
			</md-button>
        </div>  
        <div style="clear:both;"></div>
        <md-tabs md-dynamic-height>
          <md-tab label="Liste préfecture">
              <table class="dataTable row-border hover" datatable="ng"
                dt-options="vm.dtOptions">
                <thead>
                  <tr>
                    <th class="secondary-text" ng-repeat="di in ::vm.prefecture_column">
                      <div class="table-header">
                          <span class="column-title">{{di.titre}}</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                  <tbody>
                    <tr ng-repeat="prefecture in vm.allprefecture"  ng-class="{selected: prefecture.$selected}" ng-click="vm.selection(prefecture)">
                      <td>{{prefecture.Code}}</td>
                      <td>{{prefecture.Region}}</td>
                      <td>{{prefecture.ile.Ile}}</td>
                      <td>{{prefecture.programme.libelle}}</td>
                    </tr>
                  </tbody>
              </table>
            </md-tab>
          </md-tabs>
    <!-- / LISTE TABLE -->

    <!-- BASIC FORM -->

      <!-- / BASIC FORM -->
      </div>
    </div>
<!-- / CONTENT -->

  </div>
