#tableau_bord{
	height: 100%;
    /*background: url('/assets/images/backgrounds/header-bg.png') no-repeat;*/
    background-size: cover;
    background-position: bottom;
    background-color: #383c48;
     padding: 12px;
}

#dashboard-server {
    padding: 12px;

    #widgets {

    }
}