<div id="dashboard-server">
    <!--div  class="text-right">
       
        <a ui-sref="app.comores_auth_login" ><strong>Se connecter</strong></a>
        <a ui-sref="app.comores_auth_register" ><small>Créer un compte</small></a>
    </div!-->
    
    <div class="content" >

        <md-tabs md-dynamic-height>
            <md-tab label="Tableau de bord" >

                
                <!--div class="card md-whiteframe-4dp">
                    <canvas id="bar" class="chart chart-bar" chart-data="vm.barChart.data" chart-labels="vm.barChart.labels"          chart-series="vm.barChart.series" chart-options="vm.barChart.options" 
                        responsive-options="vm.barChart.responsiveOptions" chart-legend="true" >
                          
                    </canvas>
                </div!-->

                <div layout="row" layout-align="center center">
                  <div flex-gt-xs="60">
                    <table class="dataTable row-border hover cell-border text-center" 
                      dt-options="vm.dtOptions">
                      <thead>
                        <tr>
                        
                        <!-- nbr_menage_par_programme -->

                          <th class="primary-text md-accent-bg" >
                            <div class="table-header">
                              <span class="column-title text-center">Programme</span>
                            </div>
                          </th>
                          <th class="primary-text md-accent-bg" >
                            <div class="table-header">
                              <span class="column-title text-center">Nombre ménage bénéficiaire</span>
                            </div>
                          </th>

                          <!--th class="primary-text md-accent-bg" >
                            <div class="table-header">
                              <span class="column-title text-center">Nombre ménage enregistré</span>
                            </div>
                          </th!-->

                          <th class="primary-text md-accent-bg" >
                            <div class="table-header">
                              <span class="column-title text-center">Statistique</span>
                            </div>
                          </th>

                          

                        <!--fin nbr_menage_par_programme -->

                        
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="(key,data) in vm.data_via_base">
                          

                           <!--nbr_menage_par_programme -->
                            <td ng-if="key!='total'" >{{data.libelle}}</td>                
                            <td ng-if="key!='total'" >{{data.nbr}}</td>
                            <!--td> - </td!-->
                            <!--td ng-if="key!='total'" ng-show="vm.pivot=='nbr_menage_par_programme'">{{data.nbr_menage_enregistrer}}</td!-->
                            <td ng-if="key!='total'" >{{vm.parseFloat((data.nbr * 100)/(data.nbr_menage_enregistrer))}} %</td>

                          
                           <!--fin nbr_menage_par_programme -->  
                                     
                        </tr>
                      </tbody>

                      <tfoot>
                          <tr>

                              
                              <td colspan="3"> <b><u>Nombre total de ménage bénéficiaire:</u></b> {{vm.data_via_base.total}} sur {{vm.data_via_base[0].nbr_menage_enregistrer}} Ménage(s) enregistré(s)   <b><u>Stat générale:</u></b>  {{vm.parseFloat((vm.data_via_base.total * 100)/(vm.data_via_base[0].nbr_menage_enregistrer))}} %</td>
                              
                              
                          </tr>
                      </tfoot>
                    </table>
                  </div>
                  <div flex-gt-xs="40">
                   
                    
                      <div class=""  ng-if="vm.data_via_base_ok">
                          <c3chart bindto-id="donut-plot1-chart" style="border-color: #039be5 !important;border-width: 10px !important;">
                              <p ng-repeat="(key,data) in vm.data_via_base">

                                  <chart-column ng-if="key!='total'"
                                            column-name="{{data.libelle}}"
                                            column-values="{{data.nbr}}"
                                            column-id="{{data.id}}"
                                            column-type="donut"/>
                              </p>
                              
                             <chart-donut title="Ménage bénéficiaires" width="50"/>
                          </c3chart>

                      </div>
                
                  </div>
                </div>

                

                <div layout="row" layout-align="center center">

                  <div flex-gt-xs="60">
                      <table class="dataTable row-border hover cell-border text-center" 
                            dt-options="vm.dtOptions">
                            <thead>
                              <tr>
                              
               

                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Programme</span>
                                  </div>
                                </th>
                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Nombre individu bénéficiaire</span>
                                  </div>
                                </th>

                                <!--th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Nombre individu enregistré</span>
                                  </div>
                                </th!-->

                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Statistique</span>
                                  </div>
                                </th>

                                

                              <!--fin nbr_menage_par_programme -->

                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="(key,data) in vm.data_via_base_nbr_individu">
                                

                                 <!--nbr_menage_par_programme -->
                                  <td ng-if="key!='total'">{{data.libelle}}</td>                
                                  <td ng-if="key!='total'">{{data.nbr}}</td>
                                  <!--td> - </td!-->
                                  <!--td ng-if="key!='total'">{{data.nbr_individu_enregistrer}}</td!-->
                                  <td ng-if="key!='total'">{{vm.parseFloat((data.nbr * 100)/(data.nbr_individu_enregistrer))}} %</td>

                                
                                 <!--fin nbr_menage_par_programme -->  
                                           
                              </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                   
                                    <td colspan="4"> <b><u>Nombre total d'individu bénéficiaire:</u></b>  {{vm.data_via_base_nbr_individu.total}} sur {{vm.data_via_base_nbr_individu[0].nbr_individu_enregistrer}} Individu(s) enregistré(s) <b><u>Stat générale: </u></b> {{vm.parseFloat((vm.data_via_base_nbr_individu.total * 100)/(vm.data_via_base_nbr_individu[0].nbr_individu_enregistrer))}} %
                                    </td>
                                    
                                   
                                </tr>
                            </tfoot>
                      </table>
                  </div>
                  <div flex-gt-xs="40">
                    <!--div class="md-title">Nbr Individu avec Handicap</div>
                    <div class="card md-whiteframe-4dp" >
                        <canvas id="doughnut" class="chart chart-doughnut" chart-data="vm.datas"
                                chart-labels="vm.libelle"></canvas>
                    </div!-->
                    
                      <div class="" ng-if="vm.data_via_base_nbr_individu_ok">
                          <c3chart bindto-id="donut-plot1-chart2">
                              <p ng-repeat="(key,data) in vm.data_via_base_nbr_individu">

                                  <chart-column ng-if="key!='total'"
                                            column-name="{{data.libelle}}"
                                            column-values="{{data.nbr}}"
                                            column-id="{{data.id}}"
                                            column-type="donut"/>
                              </p>
                              
                             <chart-donut title="Individu bénéficiaires" width="50"/>
                          </c3chart>

                      </div>
                  </div>
                </div>


                <div layout="row" layout-align="center center">

                  <div flex-gt-xs="70">
                      <table class="dataTable row-border hover cell-border text-center" 
                            dt-options="vm.dtOptions">
                            <thead>
                              <tr>
                              
                              <!-- nbr_individu_par_programme -->

                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Hadicape</span>
                                  </div>
                                </th>

                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Nombre</span>
                                  </div>
                                </th>

                                
                                  

                              <!--fin nbr_individu_par_programme -->

                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="(key,data) in vm.data_nbr_pers_avec_andicap">
                                

                                 <!--nbr_menage_par_programme -->
                                  <td ng-if="key!='total'">{{data.libelle}}</td>                
                                  <td ng-if="key!='total'">{{data.nbr}}</td>
                                  
                                 <!--fin nbr_menage_par_programme -->   
                                           
                              </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td><b><u>Nombre d'individu handicapé:</u></b> {{vm.data_nbr_pers_avec_andicap.total}}</td>
                                </tr>
                            </tfoot>
                      </table>
                  </div>
                  <div flex-gt-xs="30">
                    <div class="" ng-if="vm.data_nbr_pers_avec_andicap_ok">
                          <c3chart bindto-id="donut-plot1-chart3">
                              <p ng-repeat="(key,data) in vm.data_nbr_pers_avec_andicap">

                                  <chart-column ng-if="key!='total'"
                                           
                                            column-values="{{data.nbr}}"
                                            column-id="{{data.libelle}}"
                                            column-type="donut"/>
                              </p>
                              
                             <chart-donut title="Handicap" width="70"/>
                          </c3chart>

                      </div>
                    
                  </div>
                </div>

                <div layout="row" layout-align="center center">
                  <div flex-gt-xs="70">
                    <table class="dataTable row-border hover cell-border text-center" 
                            dt-options="vm.dtOptions">
                            <thead>
                              <tr>
                              
                              <!-- nbr_individu_par_programme -->

                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Type de formation</span>
                                  </div>
                                </th>

                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Nombre Homme</span>
                                  </div>
                                </th>

                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Nombre Femme </span>
                                  </div>
                                </th>

                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Nombre total</span>
                                  </div>
                                </th>

                                
                                  

                              <!--fin nbr_individu_par_programme -->

                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="(key,data) in vm.data_via_base_nbr_individu_par_formation">
                                

                                 <!--nbr_menage_par_programme -->
                                  <td ng-if="key!='total'">{{data.description}}</td>                
                                  <td ng-if="key!='total'">{{data.nbr_homme}}</td>
                                  <td ng-if="key!='total'">{{data.nbr_femme}}</td>
                                  <td ng-if="key!='total'">{{data.nbr}}</td>
                                  
                                 <!--fin nbr_menage_par_programme -->   
                                           
                              </tr>
                            </tbody>
                            <!--tfoot>
                                <tr>
                                    <td></td>
                                    <td><b><u>Nombre total d'individu q:</u></b> {{vm.data_via_base_nbr_mariage[0].nbr_total_mariage_precoce}}</td>
                                </tr>
                            </tfoot!-->
                      </table>
                  </div>
                  <div flex-gt-xs="30">
                    
                  </div>
                    
                </div>

                <div layout="row" layout-align="center center">

                  <div flex-gt-xs="70">
                      <table class="dataTable row-border hover cell-border text-center" 
                            dt-options="vm.dtOptions">
                            <thead>
                              <tr>
                              
                              <!-- nbr_individu_par_programme -->

                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Type mariage</span>
                                  </div>
                                </th>

                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Nombre</span>
                                  </div>
                                </th>

                                
                                  

                              <!--fin nbr_individu_par_programme -->

                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="(key,data) in vm.data_via_base_nbr_mariage">
                                

                                 <!--nbr_menage_par_programme -->
                                  <td ng-if="key!='total'">{{data.type_mariage}}</td>                
                                  <td ng-if="key!='total'">{{data.nbr}}</td>
                                  
                                 <!--fin nbr_menage_par_programme -->   
                                           
                              </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td><b><u>Nombre de mariage précoce:</u></b> {{vm.data_via_base_nbr_mariage[0].nbr_total_mariage_precoce}}</td>
                                </tr>
                            </tfoot>
                      </table>
                  </div>

                  <div  flex-gt-xs="30">
                    <div class="center center" style="" ng-if="vm.data_via_base_nbr_mariage_ok">
                          <c3chart class="center center" bindto-id="donut-plot1-chart4">
                              <p ng-repeat="(key,data) in vm.data_via_base_nbr_mariage">

                                  <chart-column ng-if="key!='total'"
                                           
                                            column-values="{{data.nbr}}"
                                            column-id="{{data.type_mariage}}"
                                            column-type="donut" />
                              </p>
                              
                             <chart-donut title="Mariage" width="85" />
                          </c3chart>

                      </div>
                    
                  </div>
                  
                </div>

                <div layout="row" layout-align="center center">

                  <div flex-gt-xs="70">
                      <table class="dataTable row-border hover cell-border text-center" 
                            dt-options="vm.dtOptions">
                            <thead>
                              <tr>
                              
                              <!-- nbr_individu_par_programme -->

                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Type violence</span>
                                  </div>
                                </th>

                                <th class="primary-text md-accent-bg" >
                                  <div class="table-header">
                                    <span class="column-title text-center">Nombre</span>
                                  </div>
                                </th>

                                
                                  

                              <!--fin nbr_individu_par_programme -->

                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="(key,data) in vm.data_via_base_nbr_violence">
                                

                                 <!--nbr_menage_par_programme -->
                                  <td ng-if="key!='total'">{{data.type_violence}}</td>                
                                  <td ng-if="key!='total'">{{data.nbr}}</td>
                                  
                                 <!--fin nbr_menage_par_programme -->   
                                           
                              </tr>
                            </tbody>
                            <!--tfoot>
                                <tr>
                                    <td></td>
                                    <td><b><u>Nombre de mariage précoce:</u></b> {{vm.data_via_base_nbr_violence[0].nbr_total_mariage_precoce}}</td>
                                </tr>
                            </tfoot!-->
                      </table>
                  </div>

                  <div  flex-gt-xs="30">
                    <div class="center center" style="" ng-if="vm.data_via_base_nbr_violence_ok">
                          <c3chart class="center center" bindto-id="donut-plot1-chart5">
                              <p ng-repeat="(key,data) in vm.data_via_base_nbr_violence">

                                  <chart-column ng-if="key!='total'"
                                           
                                            column-values="{{data.nbr}}"
                                            column-id="{{data.type_violence}}"
                                            column-type="donut" />
                              </p>
                              
                             <chart-donut title="Violence" width="85" />
                          </c3chart>

                      </div>
                    
                  </div>
                  
                </div>

                

                

                

            </md-tab>
            
           
           
        </md-tabs>
     
        



    </div>


</div>